<div class="team-listing--links">
  <ul class="team-listing--links--list">
  {{#each links}}
    <li class="team-listing--links--item">
      <a tabindex="-1" href="{{this.link}}" class="team-listing--link" title="{{#is site-proper "Personal Website"}}{{../../first-name}}&rsquo;s {{site-proper}}{{else}}{{../../first-name}} on {{site-proper}}{{/is}}">
        <span class="team-listing--links--icon icon-{{site}}"></span>
      </a>
    </li>
  {{/each}}
  </ul>
</div>
