<div id="{{createId title}}" class="work-callout {{#if has-border}}work-callout_with-border{{/if}}">

  <div class="work-callout--media">
    <h2 class="work-callout--title">
      <a href="{{ action.url }}" title="{{ action.title }}">{{ title }}</a>
    </h2>

    {{#if image_url}}
    <div class="work-callout--image-wrapper">
      <a href="{{ action.url }}" title="{{ action.title }}">
        <img class="work-callout--image" src="{{ image_url }}" alt="Screenshot of {{ title }}" />
      </a>
    </div>
    {{/if}}

    {{#if brief}}
    <p class="work-callout--brief">{{ brief }}</p>
    {{/if}}

  </div>

  <div class="work-callout--content">

    {{#if subtitle}}
      <p class="work-callout--subtitle">
      {{ join subtitle ", " }}
      </p>
    {{/if}}

    <div class="work-callout--body wysiwyg">
      {{#markdown}}{{ body }}{{/markdown}}
    </div>

    <div class="work-callout--button-wrapper">
      <a class="button button_standard button_inline
        {{#if action.is_external}}
        button_has-icon
        button_has-external-icon
        {{/if}}
        " href="{{ action.url }}">{{ action.title }}</a>
    </div>
  </div>

</div>
