<div class="feature-gallery--wrapper">
  <ul class="feature-gallery--nav">
  {{#each galleries}}
    <li><a data-index="{{@index}}" class="feature-gallery--button button_has-down-arrow js-feature-gallery--button button {{#if is-active}}is-active{{/if}}" href="#{{slug}}" title="{{title}}">{{title}}</a></li>
  {{/each}}
  </ul>
  <div class="feature-gallery--container">
    {{#each galleries }}
      <div class="feature-gallery js-feature-gallery" id="{{slug}}">
        <h3 class="feature-gallery--title">{{title}}</h3>
        <ul>
          {{#each items}}
            <li>
              <div class="feature-gallery--item">
                <span class="feature-gallery--item-image {{icon-class}}"></span>
                <h4 class="feature-gallery--item-title">{{title}}</h4>
                <p class="feature-gallery--item-description">{{description}}</p>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</div>
