{{#isnt anchor "#"}}
<a href="{{anchor}}" tabindex="0" id="{{createId first-name}}_{{createId last-name}}" class="team-listing--item team-listing--person js_team-listing--person team-listing--person_is-animated">
{{else}}
<div tabindex="0" id="{{createId first-name}}_{{createId last-name}}" class="team-listing--item team-listing--person js_team-listing--person team-listing--person_is-animated">
{{/isnt}}

  <div class="team-listing--person-wrapper">
    <img class="team-listing--person--mug" src="{{image}}" alt="Image of {{first-name}} {{last-name}}, {{title}} at Sparkbox">

    <div class="team-listing--person--name-wrapper">
      <div class="team-listing--person--name-container">
        <h3 class="team-listing--person--name">
          <span class="team-listing--person--first-name">{{first-name}}</span>
          <span class="team-listing--person--last-name">{{last-name}}</span>
        </h3>
        <small class="team-listing--person--title">{{title}}</small>
      </div>
    </div>
  </div>

  {{!-- This team-listing--links module is the home for each person's social profile links --}}
  {{#if links}}
    {{> _team-listing--links}}
  {{/if}}

  {{!-- This overlay-text submodule allows descriptive text to be place on top the image,
        as in "This could be you. Contact Us." on the apprentice item. --}}
  {{#if overlay-text }}
    <div class="team-listing--person--overlay-text-wrapper">
      <div class="team-listing--person--overlay-text-vertical-center">
        <div class="team-listing--person--overlay-text">
          {{#markdown}}{{{ overlay-text }}}{{/markdown}}
        </div>
      </div>
    </div>
  {{/if}}
{{#isnt anchor "#"}}
</a>
{{else}}
</div>
{{/isnt}}
